* {
  background-color: #404040;
}

body {
  margin: 0;
  font-family: "Hina Mincho", serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.screen {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100vh;
  border: red solid 20px;
}

h2 {
  color: pink;
}

.display {
  width: 350px;
  color: white;
  text-align: right;
  font-size: 50px;
  height: 80px;
  font-weight: bold;
  border: steelblue solid 5px;
  margin-bottom: 5px;
}

.display p {
  background-color: gray;
  width: auto;
  height: inherit;
  margin: 0;
  border: solid #1a1919 1px;
  padding: 0 0.2em;
}

.buttonPanel {
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px; */
  border: greenyellow solid 5px;
}

.zero {
  min-width: 50%;
  background-color: #e0e0e0;
}

.gray {
  min-width: 25%;
  background-color: #e0e0e0;
}

.orange {
  min-width: 25%;
  background-color: #f5913e;
}

.buttonPanel button {
  border: solid #382828 3px;
  width: 75px;
  margin: 3px;
  border-radius: 50%;
  color: black;
  font-size: 35px;
}

.Navbar {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.Navbar p {
  font-size: 30px;
}

.calc-page {
  display: flex;
  justify-content: space-between;
}

.quote-text {
  text-align: center;
  margin-top: 300px;
}

@media only screen and (max-width: 460px) {
  .g1 button {
    font-size: 35px;
  }

  .display {
    font-size: 50px;
  }
}

@media only screen and (max-width: 268px) {
  .g1 button {
    font-size: 17px;
  }

  .display {
    font-size: 25px;
  }
}
